{% load apps_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LY's blog</title>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                    <link rel="stylesheet" href="{% static 'apps/css/github.css' %}">
                        <link rel="stylesheet" href="{% static 'apps/css/widget.css' %}">
                        
    </head>
    <body>
        
        <nav class="navbar navbar-inverse " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    
                    <a class="navbar-brand" href="{% url 'apps:index'%}" style="font-size:30px; margin-left: 100px;margin-bottom: 30px;margin-top: 10px;">GY's blog</a>
                </div>
                
                <ul class="nav navbar-nav navbar-right" style="margin-bottom: 15px;margin-top: 25px;margin-right: 30px;">
                    <li><a href="{% url 'apps:index' %}"><span class="glyphicon glyphicon-th"></span> 首页</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span> 分类</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-folder-close"></span> 归档</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-tags"></span> 标签</a></li>
                </ul>
            </div>
        </nav>
        







        
        
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <main class="col-md-8">
                        {% block content %}{% endblock content %}
                    </main>
                    <aside class="col-md-4">
                        
                        <div class="widget widget-recent-posts">
                            <h3 class="widget-title">Latest articles</h3>
                            {% get_recent_article as recent_article_list %}
                            <ul>
                                {% for article in recent_article_list %}
                                <li>
                                    <span class="glyphicon glyphicon-pencil">
                                        <a href="{% url 'apps:detail' article.pk %}">{{ article.title }}</a>
                                        </span>
                                </li>
                                {% empty %}
                                暂无文章！
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="widget widget-archives">
                            <h3 class="widget-title">archive</h3>
                            {% archives as date_list %}
                            <ul>
                                {% for date in date_list %}
                                <li>
                                    <span class="glyphicon glyphicon-calendar">
                                    <a href="#">{{ date.year }} year {{ date.month }} month</a>
                                    </span>
                                </li>
                                {% empty %}
                                No archives for now.
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="widget widget-category">
                            <h3 class="widget-title">Category</h3>
                            {% get_categories as category_list %}
                            <ul>
                                {% for category in category_list %}
                                <li>
                                    <span class="glyphicon glyphicon-hand-right">
                                    <a href="#">{{ category.name }} <span class="post-count">(13)</span></a>
                                    </span>
                                </li>
                                {% empty %}
                                No categories for now.
                                {% endfor %}
                            </ul>
                        </div>
                        
                        
            
                    </aside>
                </div>
            </div>
        </div>
        
        
    </body>
</html>

