{%  extends 'apps/base.html' %}
{% block content %}

<script type="text/javascript">
        function likes_topic(){
        $.ajax({
               
               type:'POST',
               url:'/apps/{{ article.pk }}/like/',
               data:{'article_id':{{ article.pk }}},
               dataType:'json',
               processData:false,
               contentType:false,
               success:function(data,status){
               $("#like").html('<span class="glyphicon glyphicon-thumbs-up">点赞: '+data.like_num+'</span>');
               
               }
               
               });
    }
</script>

<div class="container" style ='background-color: #ffffff;'>
    <br><br>
    <div class="row">
       
            </div>
        <div class="col-md-7">
            <div class="text-center">
                <h2>{{ article.title }}</h2>
            </div>
            
        <div class="col-md-1"></div>
        <br>
            <div class="text-center">
                <label style="padding-right:30px;">
                    <span class="glyphicon glyphicon-time">{{ article.cre_date.year }}.{{ article.cre_date.month }}.{{ article.cre_date.day }}</span>
                </label>
                <label style="padding-right:30px;">
                <span class="glyphicon glyphicon-eye-open">阅读量: {{ article.views }}</span>
                </label>
                <label style="padding-right:30px;">
                    
                    <a onclick="likes_topic();" >
                <div id='like'>
                <span class="glyphicon glyphicon-thumbs-up">点赞: {{ article.likes }}</span></a>
                    </div>
                </label>
            </div>
            <br><br>
            <div>
                <p>{{ article.body|safe }}</p>
            </div>
            
            <br><br>
    </div>
</div>
{% endblock content %}


