{%  extends 'apps/base.html' %}


{% block content %}
<br><br>
{% if article_list %}
    <br><br>
    <div class="container-fluid">
        {% for article in article_list %}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>
                <a href="{% url 'apps:detail' article.pk %}">{{ article.title}}</a>
                </h2>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="text-left">
                        <p class="glyphicon glyphicon-time">{{ article.cre_date }}<p>
                    <label style="padding-right:30px;">
                        <span class="glyphicon glyphicon-eye-open">阅读量: {{ article.views }}</span>
                    </label>
                    <label style="padding-right:30px;">
                        <span class="glyphicon glyphicon-thumbs-up">点赞: {{ article.likes }}</span>
                    </label>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        
        
        
        <div class="row">
            <div class="col-sm-2" ></div>
            <div class="col-sm-8" ><p class="text-left">{{ article.abstract }}</p>
            <hr><br><br>
            </div>
            
            <div class="col-sm-2" ></div>
        </div>
        
        {% endfor %}
{% else %}
    <p> No articles are available.</p>
{% endif %}
    </div>

{% endblock content %}
