<!DOCTYPE html>
<html lang="en">
    {% if article_list %}
    <head>
        <title>GY's blog'</title>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h class="navbar-brand" href="#">GY's blog</h>
                </div>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-th"></span> 首页</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span> 分类</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-folder-close"></span> 归档</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-tags"></span> 标签</a></li>
                </ul>
            </div>
        </nav>
        
        
        
        <div class="container-fluid">
            
            
            {% for article in article_list %}
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">  <h2 class="text-left">{{ article.title}}</h2> </div>
                <div class="col-sm-2"></div>
            </div>
            
            <div class="row">
                <div class="col-sm-2" ></div>
                <div class="col-sm-8" ><p class="text-left">{{ article.body }}</p></div>
                <div class="col-sm-2" ></div>
            </div>
            {% endfor %}
            {% else %}
              <p> No articles are available.</p>
            {% endif %}
        </div>
    </body>
</html>

