{%  extends 'apps/base_twitter.html' %}
{% load static %}
{% block content %}
<br><br>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <h2>
                <a href="{% url 'apps:twitterdetail' twitter_name.pk %}">
                <img src='../../{{ twitter_name.img }}' width=50px  /></a>
                <a href="{% url 'apps:twitterdetail' twitter_name.pk %}">{{ twitter_name.user }}</a>
            </h2>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-1" ></div>
        
        <div class="col-sm-7" >
                <p class="text-left">{{ twitter_number.text }}</p>
            </a>
            
        </div>
    </div>
    
    {% if twitterimg_list %}
    
    {% for img in twitterimg_list %}
    
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <h2>
                <img src='/{{ img.img }}' width=400px  />
            </h2>
        </div>
        
    </div>
    {% endfor %}

    
    {% endif %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <div class="text-left">
                <label style="padding-right:20px;">
                    <span class="glyphicon glyphicon-time">{{ twitter_number.pub_date.year }}.{{ twitter_number.pub_date.month }}.{{ twitter_number.pub_date.day }} {{ twitter_number.pub_date.hour }}:{{ twitter_number.pub_date.minute }}     </span>
                </label>
            </div>
        </div>
        
    </div>
    
    <hr><br><br>
    

    
</div>

{% endblock content %}
